body {
    background-image: url("../images/prism.png");
    
}

header {
    padding-left: 15%;
    padding-right:15%;
    margin-bottom: 0px;
    color: #ffffff;
    background: #ffffff;
  }

h1 {
     
}

h2 { 
    background: teal; 
    padding: 25px;
    width: 150px;
}

button {
    float:right; 
    text-decoration-color: #ffffff
    
}
h3 {
    text-decoration-color: #4aaaa5;
    background: #ffffff;
    margin-left: 15%;
    margin-right: 15%;

}

image {
    float:left;
}
