body {
    background-image: url("../images/prism.png");
    
}

header {
    border-bottom: 1px solid #cccccc;
    padding-left: 15%;
    padding-right:15%;
    color: #ffffff;
    background: #ffffff;
  }

#header2 {
    border-bottom: 1px solid #cccccc;
    padding-left: 25%;
    padding-right:25%;
    color: #ffffff;
    background: #ffffff;
  }

h1 {
     
}

h2 { 
    background: #4aaaa5; 
    margin: 0%;
    padding: 25px;
    width: 150px;
}

a:link {
    color: #cccccc;
    text-decoration: none;
  }
  
  a:visited {
    color: #cccccc;
    text-decoration: none;
  }
  
  a:hover {
    color: #cccccc;
    text-decoration: none;
  }
  
  a:active {
    color: #4aaaa5;
    text-decoration: none;
  }

a {
    float:right; 
    background-blend-mode: color #ffffff;
    text-decoration-color: #cccccc;
    font-size: 25px;
}

h3 {
    color: #777777;
    background: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #dddddd;
}

b {font-size: 25px}
image {
    float:left;
}

h4 {
    margin-left: 25%;
    margin-right: 25%; 
    background: #ffffff;
    color: #777777;
    border: 1px solid #dddddd;
}

h5 {
    color: #777777;
    background: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #dddddd;
}

footer {
    border-top: 8px solid #4aaaa5;
    background: #666666;
    block-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}